@font-face {
    font-family: 'Rubik Moonrocks';
    src: url('./RubikMoonrocks-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

.container .header {
    background-color: black;
    color: white;
}

.container .footer {
    background-color: black;
    color: white;
}

.container .content .title-container {
    background-image: url('./moonsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Rubik Moonrocks';
    color: white;
}