.content {
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content > div {
    width: 50%;
}

.content ul {
    padding-left: 30px;
    list-style-type: none;
}

.content > div > ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content ul div ul div {
    display: flex;
    justify-content: space-between;
}